*{
    margin:0px;
}
body,html{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}
.container{
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  
}
#header{
    height: 120px;
    color: white;
    margin-left: 500px;
    margin-top: 40px;
}
#header h2{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(-50%,-50%);
    font-size: 4em;
}
#header h2:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}
#header h2:nth-child(2)
{
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
    -webkit-text-stroke: 2px #03a9f4;
}
@keyframes animate{
    0%,100%{
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon( 0% 60%, 16% 65%,34% 66%, 51% 62%, 67% 50% ,84% 45%, 100% 46%,100% 100%, 0% 100%);
    }
}
.box{
    width: 50%;
    height:140px;
    float: left;
}
.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 35px;
    font-size: 16px;
    cursor: pointer;
    margin: 30px 50px 0px 30px;
   
}
.info {
    border-color: #2196F3;
    color: black;
}
.info:hover {
    background: #2196F3;
    color: black;
}


.clearfix{
    clear: both;
}
@media screen and (max-width: 320px){
    .box1{
        width: 50%;
    }
    .box2{
        width: 50%;
    }
    .box3{
        width:50%;
    }
    .box4{
        width: 50%;
    }
    .box5{
        width:50%;
    }
    .box6{
        width: 50%;
    }
    #header{
        height: 120px;
        color: white;
        margin-left: 175px;
        margin-top: 50px;
        font-size: 13px;
    }
    
}

