*{
    margin:0px;
}
@media only screen and (min-width: 450px){
    body,html{
        width: 100%;
        max-width: 1100px;
        height: 100%;
        overflow: hidden;
    }
    .container{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .box{
        width: 100%;
        height:150px;
        float: left;
        left:300px; 
        position: relative;
    }  
    #header{
        height: 120px;
        margin-left: 700px;
        margin-top: 40px;
    }
    #header h2{
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        transform: translate(-50%,-50%);
        font-size: 4em;
    }
    .btn {
        border: 2px solid black;
        padding: 14px 35px;
        font-size: 16px;
        cursor: pointer;
    }
    .box1{
        width: 50%;
    }
    .box2{
        width: 50%;
    }
    .box3{
        width:50%;
    }
    .box4{
        width: 50%;
    }
    .box5{
        width:50%;
    }
    .box6{
        width: 50%;
    }
    .logo {
        width: 30px;
        height: 30px;
    }
    .circles{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    .circles li{
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        animation: animate 25s linear infinite;
        bottom: -150px;
        
    }
}
@media only screen and (max-width: 450px){
    body,html{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .container{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .box{
        width: 200%;
        float: left;
        left:100px; 
        position: relative;
        height: 150px;
    }  
    #header{
        height: 100px;
        margin-left: 150px;
        margin-top: 60px;
    }
    #header h2{
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        transform: translate(-50%,-50%);
        font-size: 3em;
    }
    .btn {
        border: 2px solid black;
        padding: 7px 10px;
        font-size: 8px;
        cursor: pointer;
        margin-left: -50px;
    }
    .box1{
        width: 50%;
    }
    .box2{
        width: 50%;
    }
    .box3{
        width:50%;
    }
    .box4{
        width: 50%;
    }
    .box5{
        width:50%;
    }
    .box6{
        width: 50%;
    }
    .logo {
        width: 15px;
        height: 15px;
    }
    .circles{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    .circles li{
        position: absolute;
        display: block;
        list-style: none;
        width: 5px;
        height: 5px;
        animation: animate 25s linear infinite;
        bottom: -100px;
        
    }

}

body,html{
    background-color: black;
    overflow: hidden;
}
.box{ 
    position: relative;
}  
#header{
    color: white;
}
#header h2{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(-50%,-50%);
}
#header h2:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 2px blue;
}
#header h2:nth-child(2)
{
    color: blue;
    animation: flow 4s ease-in-out infinite;
    -webkit-text-stroke: 2px #03a9f4;
}
@keyframes flow{
    0%,100%{
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon( 0% 60%, 16% 65%,34% 66%, 51% 62%, 67% 50% ,84% 45%, 100% 46%,100% 100%, 0% 100%);
    }
}
.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}
.info {
    border-color: #2196F3;
    color: black;
}
.info:hover {
    background: #2196F3;
    color: black;
}

.circles li{
    background:blue;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}



