body{
    font-family: 'Permanent Marker', cursive;
font-family: 'Ubuntu Condensed', sans-serif;
overflow: hidden;
margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
   
}

.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
   
}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align:center ;
    line-height: 70px;
    background: #063146;
    user-select:none;
}
.sidebar ul a{
    display: block;
    height:100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color:white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,1);
    border-bottom: 1px solid black;
    transition: .4s;
}


ul li  :hover {
    padding-left: 50px;
    color:blue;
}
.sidebar ul a i{
    margin-right: 16px;
}
#check{
    display:none ;
    
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;

}
label #btn{
    left:40px;
    top:25px;
    font-size: 35px;
    color:white;
    padding: 6px 12px;
    transition: all  .5s;

}
label #cancel{
    z-index: 1111;
    left: -195px;
    top:17px;
    font-size: 30px;
    color:#0a5275;
    padding: 4px,9px;
    transition: all .5sec;
}
#check:checked ~ .sidebar{
    left:0;
}
#check:checked ~ label #btn{
    left:250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px;

}
section{
    background: url(https://www.fg-a.com/wallpapers/2020-black-crystalline-peaks-image.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition:  all .5s;
}
#check:checked ~ section{
    margin-left: 250px;

}
.round{
    top: 100%;
    left: 60%;
    transform: translate(45%,30%);
}
.round img {
    border-radius: 50%;
    background: transparent;
}
.main{
    color: white;
    text-align: center;
    margin-bottom: -50px;
    margin-left:90px;
}
.main{
    font-size: 20px;
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 35px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px
    
    
}
.info {
    border-color: #2196F3;
    color: dodgerblue
}
  
.info:hover {
    background: #2196F3;
    color:white;
}
.leaf{
    
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.leaf div{
    position:absolute ;
    display:block ;
}
.leaf div:nth-child(1){
        left:20%; 
        animation:fall 15s linear infinite ;
        animation-delay:-2s;
    
}
    .leaf div:nth-child(2){
        left:70%; 
        animation:fall 15s linear infinite ;
        animation-delay:-4s;
    }
    .leaf div:nth-child(3){
        left:10%; 
        animation:fall 20s linear infinite ;
        animation-delay:-7s;
        
    }
    .leaf div:nth-child(4){
        left:50%; 
       animation:fall 18s linear infinite ; 
       animation-delay:-5s;
    }
    .leaf div:nth-child(5){
        left:85%; 
        animation:fall 14s linear infinite ;
        animation-delay:-5s;
    }
    .leaf div:nth-child(6){
        left:15%; 
        animation:fall 16s linear infinite ;
        animation-delay:-10s;
    }
    .leaf div:nth-child(7){
        left:90%; 
        animation:fall 15s linear infinite ;
        animation-delay:-4s;
    }
    
    @keyframes fall{
        0%{
            opacity:1;
            top:-10%;
            transform:translateX (20px) rotate(0deg);
        }
        20%{
            opacity:0.8;
            transform:translateX (-20px) rotate(45deg);
        }
        40%{
    
            transform:translateX (-20px) rotate(90deg);
        }
        60%{
            
           transform:translateX (-20px) rotate(135deg); 
        }
        80%{
        
            transform:translateX (-20px) rotate(180deg);
        }
        100%{
            
            top:110%;
            transform:translateX (-20px) rotate(225deg);
        }
        }
    .leaf1{
        transform: rotateX(180deg);
    }
.loading{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom:0;
    z-index: 1000;
    background: #000;
}
.loader{
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
    font-size: 30px;
    color:#fff;
    perspective: 200px;
}
.animation1,
.animation2{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid;
    border-left-color: #10ac84;
    border-top-color: #ff9f43;
    border-right-color: #0984e3;
    border-bottom-color: #d63031;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
    animation: animation1 3s ;
    animation-iteration-count: infinite;

}
.animation2{
    animation: animation2 3s ;
    animation-iteration-count: infinite;

}
@keyframes animation1{
    0%{transform: rotate3d(1,1,1,0deg);}
    100%{transform: rotate3d(1,1,1,360deg);}
}
@keyframes animation2{
    0%{transform: rotate3d(1,1,1,0deg);}
    100%{transform: rotate3d(1,1,1,-360deg);}
}
.wrapper{
    width: 100%;
}

